build/

.vscode/

.devcontainer/

sdkconfig

*.code-workspace

CMakeFiles/
cmake-build-debug/
cmake-build-release/
CMakeCache.txt
CMakeScripts/
Makefile
*.cmake
!CMakeLists.txt

*.exe
*.dll
*.so
*.o
*.a
*.obj
*.lib

*.log

.DS_Store
Thumbs.db

*.tmp
*.temp
*.swp
*~
